@font-face {
  font-family: "iconfont"; /* Project id 3913517 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1677224521958') format('woff2'),
       url('iconfont.woff?t=1677224521958') format('woff'),
       url('iconfont.ttf?t=1677224521958') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-support-copy:before {
  content: "\eb34";
}

.icon-github1:before {
  content: "\e63a";
}

.icon-bilibili1:before {
  content: "\e606";
}

.icon-zhihu:before {
  content: "\ea8b";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-csdn:before {
  content: "\e600";
}

.icon-baidu:before {
  content: "\e612";
}

.icon-douyin:before {
  content: "\e601";
}

.icon-youxiang:before {
  content: "\e61a";
}

.icon-wechat:before {
  content: "\e6ca";
}

.icon-qq:before {
  content: "\e6cb";
}

.icon-microblog:before {
  content: "\e6cc";
}

